{% extends "base.html" %}

{% block content %}
<div class="col-md-3">
    <h2>Edit Entry</h2>

    <form method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.activity.label }} {{ form.activity(class_="form-control") }}<br>
            {{ form.startTime.label }} {{ form.startTime(class_="form-control") }}<br>
            {{ form.endTime.label }} {{ form.endTime(class_="form-control") }}<br>
        </div>
        <input type="submit" value="Submit" class="btn btn-info">
    </form>
</div>

{% endblock %}
