{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
    <h2>Today's Log</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                <th>End Time</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td><a href="/activities/{{ entry.slug }}">{{ entry.name }}</a></td>
                <td>{{ entry.startTime.strftime("%b %d, %Y") }}</td>
                <td>{{ entry.startTime.strftime("%I:%M %p") }}</td>
                <td>{{ entry.endTime.strftime("%b %d, %Y") }}</td>
                <td>{{ entry.endTime.strftime("%I:%M %p") }}</td>
                <td><a href="/log/{{ entry._id }}/edit">Edit</a></td>
                <td><a href="/log/{{ entry._id }}/delete">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="/log/new" class="btn btn-info">New Entry</a>
</div>
{% endblock %}